---
import { Image, Picture } from "@astrojs/image/components";
---

<header class = "relative h-screen">
  <Image 
    src="/public/images/pastelilto.jpg"
    width="2000"
    height = '1000'
    alt="Magica Pasteleris"
    class = "absolute inset-0 object-cover h-screen -z-10"
    />

</header>
{/*<header class="bg-zinc-900 flex flex-col md:flex-row p-20 gap-3 text-center md:text-left rounded-xl">
  <div>
    <h1 class="text-5xl font-bold pd-2">Protect your password</h1>
    <p class="my-4 text-2xl">Esta pagina se trrata de la proteccion de tus claves de acceso</p>
    <button class="bg-indigo-500 px-3 py-2 hover:bg-indigo-400">Star Now</button>
  </div>
  <img src="images/fingerprint_login.svg" alt="Imagen svg fingerprint"class="w-80">
</header>*/}