<section class="flex flex-col py-10 md:flex-row md:p-20 gap-y-9">
  <div class="grid grid-cols-2 gap-4">
    <div class="text-center">
      <img src="images/panCasero.jpg" alt="Imagen de Pan Casero" class="w-20 m-auto">
      <p class="mt-4">Pan casero preparado con productos nacionales</p>
    </div>
    <div class="text-center">
      <img src="images/pasteles.jpg" alt="Imagen de pasteles" class="w-20 m-auto">
      <p class="mt-4">Elaboracion de variedad de pasteles</p>
    </div>
    <div class="text-center">
      <img src="images/pastelilto.jpg" alt="Imagen de pastelito" class="w-20 m-auto">
      <p class="mt-4">Pastelito de fresa especial para cumpleaños</p>
    </div>
    <div class="text-center">
      <img src="images/tarta.png" alt="Imagen de Tarta" class="w-20 m-auto">
      <p class="mt-4">Torta para cumpleaños y cualquier acontecimiento </p>
    </div>
  </div>

  <div class="flex flex-1 flex-col gap-y-10 text-center">
    <h2 class="text-5xl font-bold">Lorem ipsum dolor sit.</h2>
    <p class="text-3xl">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur, itaque!</p>
  </div>
</section>