---
import Layout from "../layouts/Layout.astro"

---

<Layout title="Acerca de">
  <h1>Acerca de Mi</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque necessitatibus dolorum, quam, eaque soluta, culpa dolorem velit ab ducimus fugiat obcaecati eos. Inventore labore, corporis quasi, ipsam vero dicta est quisquam reprehenderit, distinctio eveniet doloremque corrupti quis enim blanditiis odit neque saepe eum sunt. Voluptas omnis minima voluptatum eos necessitatibus praesentium culpa hic? Enim magni, consequuntur similique ea corporis accusantium repudiandae dicta! Veritatis vitae, eius placeat corrupti reiciendis cupiditate incidunt numquam assumenda necessitatibus vel enim rem voluptatem inventore. Consectetur accusantium aliquid, quaerat veritatis voluptas, cumque saepe nostrum magnam earum quisquam sunt similique architecto autem quidem blanditiis obcaecati a. Quidem, tempore.</p>
</Layout>