---
import Footer from "../components/Footer.astro";
import MenuItemsView from "../components/MenuItemsView.astro";
import MenuNavBar from "../components/MenuNavBar.astro";
import Features from "../components/landing/Features.astro";
import menuItems from "../data/menuItemsData";
import About from "../pages/about.astro";
import '../styles/Layout.css';

interface Props{
  title: string;
}


const {title} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Magica Pasteleria - {title}</title>
</head>
<body>
  <main class="mx-auto container pt-7">
    <MenuNavBar>
      {menuItems.map( (item) => <MenuItemsView {...item} />)}
    </MenuNavBar>
    <slot/>
  </main>
  <Footer/>
</body>
</html>